.body{
    text-align: center;
    background-image: url(https://wallpapercave.com/wp/wp6658601.jpg);
    background-size: cover;
    color: white;
    height: 100vh;
    opacity: 96%;
}
.padre{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    grid-template-rows: repeat(1,1fr);
    justify-items: center;
    align-items: center;
}
.padre div{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    font-size: 8mm;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(right,#acb0e9, #2d3277);
    padding: 15px;
    margin: 15px;
}
.boton{
    width: 90%;
    text-decoration: none;
    background: linear-gradient(180deg, rgb(49, 49, 49), rgb(145, 145, 145));
    border-style: ridge;
    border-width: 3px;
    color: white;
    margin: 5px;
    padding: 8px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5mm;
    font-weight: bold;
    display: inline-block;
}
.boton1{
    text-decoration: none;
    background: linear-gradient(180deg, rgb(49, 49, 49), rgb(145, 145, 145));
    border-style: ridge;
    border-width: 3px;
    color: white;
    margin: 5px;
    padding: 8px; 
    font-size: 4mm;
}
.boton2{
    width: 400px;
    text-decoration: none;
    background-color: rgb(68, 68, 68);
    border-style: ridge;
    border-width: 3px;
    color: white;
    margin: 5px;
    padding: 8px; 
    font-size: 5mm;
    font-weight: bold;
    display: inline-block;
    flex-direction: row;    
}
.flexImagenes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    -ms-flex-align: center;
}
.verMas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    -ms-flex-align: center;
}
.images{
    border-style: ridge;
    border-width: 5px;
    border-color: lightgray;
    margin: 15px;
}
.link{
    text-decoration: underline;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5mm;
}
.link1{
    text-decoration: underline;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 6mm;
}
.titulo{
    font-size: 18mm;
    font-style: italic;
    background: -webkit-linear-gradient(right,#acb0e9, #2d3277);
    color: white;
    border-style: ridge;
    padding: 5px;
}
ul{
    list-style: none;
    font-size: 0;
    padding: 0;
}
.li{
    display: inline-block;
    width: 20%;
    position: relative;
}
ul ul{
    position: absolute;
    display: none;
}
ul ul li {
    display: block;
}
ul li:hover ul{
    display: block;
}
.fondoFormulario{
    height: fit-content;
    width: fit-content;
    background-color: grey;
    padding: 10px;
    display: inline-block;
    border-style: ridge;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ul1{
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    justify-content: space-evenly;
}
footer{
    border-style: ridge;
    border-width: 3px;
    background: -webkit-linear-gradient(right,#acb0e9, #2d3277);
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    width: auto;
}
@media only screen and (max-width: 768px) {
    .h2 {
        flex-direction: column;
        align-items: center;
    }
    .video{
        width: 100%;
    }
    .padre{
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        grid-template-rows: repeat(3,1fr);
    }
}
a:hover{
    transform: scale(105%);
}
a img:hover{
    transform: scale(105%);
}
.fondoarticle{
    background: -webkit-linear-gradient(right,#acb0e9, #2d3277);
    border-style: ridge;
    font-size: 10mm;
    font-weight: bold;
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    width: auto;
}
.fondoarticle2{
    background-image: linear-gradient(180deg, rgb(49, 49, 49), rgb(145, 145, 145));
    border-style: ridge;
    font-size: 5mm;
    font-weight: 400;
    text-align: justify;
    padding: 10px;
    line-height: 150%;
}
.fondoarticle3{
    background: -webkit-linear-gradient(right,#363636, #272727);
    border-style: ridge;
    font-size: 4mm;
    font-weight: 400;
    text-align: justify;
    align-items: center;
    justify-content: center;
    padding: 10px;
    line-height: 200%;
    color: rgb(255, 255, 255);
}
.fondoDerechos{
    background: -webkit-linear-gradient(right,#363636, #272727);
    font-size: 4mm;
    border-width: 3px;
    border-color: rgb(131, 131, 131);
    border-style: ridge;
    align-items: center;
    display: flex;
    padding: 8px;
    justify-content: center;
    width: auto;
}
.fondoDesplegable{
    background: -webkit-linear-gradient(right,#363636, #272727);
    padding: 5px;
}
.fondoInvesting{
    background: rgb(7, 7, 7);
    border-style: ridge;
    border-color: rgb(46, 46, 46);
    border-width: 10px;
}